<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">The Daily Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      
  
     
       <form class="form-inline">
    <button class="btn btn-sm btn-outline-secondary" id="scrape-btn" type="button">Scrape New Articles</button>
    <button class="btn btn-sm btn-outline-secondary" id="clear-btn" type="button">Clear Articles</button>
  </form>
    </div>
  </div>
</nav>
    <div class="jumbotron text-center">
        <div class="overlay"></div>
        <div class="background-image"></div>
    
    <div class="caption">
        <h1>The Daily Scraper</h1>
        <p>NPR Edition</p>
    </div>
    </div>
    <div class="container-fluid article-container"></div>
    <footer class="footer">
        <div class="container">
            <span class ="text-muted"></span>
        </div>
    </footer>